@import "tailwindcss";

@tailwind utilities;

@import "flowbite-react/plugin/tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../.flowbite-react/class-list.json";
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;600&display=swap');

:root {
  --font-sans: 'Inter', ui-sans-serif, system-ui;
  --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular;
  --primary-color: #ff0000;
}

* {
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
}

